@font-face {
  font-family: 'GDComix Font';
  src: url('https://raw.githubusercontent.com/snehilvj/practice-font/main/font.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: 'GDComix Font', sans-serif !important;
}
